*{
    margin: 0;
    box-sizing: border-box;
}
.caja{
    display: flex;
    flex-direction: column;
    width: calc(50% - 2px - 10px);
    border: solid 1px red;
    margin: 5px;
    padding: 2%;
}

.contenedor{
    border: solid 2px blue;
    display: flex;
    width: 100%;
    padding: 2%;
    margin-top: 1%;
    flex-wrap: wrap;
    
}

.boton{
    width: 20%;
    
}

.c1{
    background-color: rgba(15, 100, 15, 0.5);
}

.c2{
    background-color: rgba(0, 255, 255, 0.253);
}

.c3{
    background-color: rgba(255, 0, 0, 0.24);
}

.c4{
    background-color: rgba(255, 255, 0, 0.226);
}

.c5{
    background-color: rgba(184, 135, 11, 0.466);
}

.c6{
    background-color: rgba(255, 20, 145, 0.274);
}